@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-color: #ffffff;
  --second-bg-color: #112e42;
  --text-color: black;
  --main-color: #149ddd;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

body h1 {
  font-size: 4.5rem;
}

body p {
  font-size: 1.4rem;
}

body b,
body i {
  font-size: 1.6rem;
}

span {
  color: var(--main-color);
}

/* HEADER - NAVBAR*/
.logo,
.navbar a {
  font-size: 1.6rem;
  color: var(--text-color);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--main-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  transition: 0.3s;
  border-bottom: 1px solid var(--bg-color);
}

.header.sticky {
  background: var(--main-color);
}

/* logo de la empresa y texto */
.header a {
  margin-left: 1rem;
  margin-right: 2rem;
  text-decoration: none;
  display: flex;
}

.header p {
  margin-top: 2rem;
  margin-left: 1rem;
  color: var(--bg-color);
  font-size: 1.6rem;
}

/* navbar - solo */
.navbar {
  display: flex;
}

.navbar a {
  margin-left: 3.5rem;
  transition: 0.3s;
}

.navbar a:hover,
.navbar a.active {
  color: var(--bg-color);
}

#menu-icon {
  font-size: 3.6rem;
  color: var(--text-color);
  cursor: pointer;
  display: none;
}

/* SECTION */
/* section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
} */

/* FOOTER */
.footer {
  position: relative;
  z-index: 90;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background: var(--bg-color);
}

.footer .row1,
.footer .row2 {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.footer h4 {
  font-size: 2.2rem;
  font-weight: 600;
}

.footer .group1 img {
  width: 8rem;
}

.footer p,
a {
  font-size: 1.6rem;
  color: #515151;
}

.footer .group1 {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: space-around;
  padding: 3rem;
  border-top: 0.7px solid #c7c7c7;
}

.footer .text,
.footer .text2 {
  text-align: left;
}

.footer .text2 {
  width: 150px;
}

.footer .text {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  width: 150px;
  margin-left: 2rem;
}

.footer .social-media {
  display: flex;
  align-items: flex-end;
}

.footer .group2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 6rem;
  border-top: 0.7px solid #c7c7c7;
  background: #fafafa;
}

.footer .social-media {
  display: flex;
  justify-content: start;
}

.social-media a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  background: var(--bg-color);
  border-radius: 50%;
  font-size: 18px;
  color: var(--text-color);
  z-index: 1;
  overflow: hidden;
  box-shadow: 0 0 8px 0 rgb(123, 123, 123);
}

.social-media a:hover {
  color: var(--bg-color);
}

.social-media a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--text-color);
  z-index: -1;
  transition: 0.5s;
}

.social-media a:hover::before {
  width: 100%;
}

.footer-iconTop a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  background: var(--text-color);
  border: 0.2rem solid var(--text-color);
  border-radius: 0.6rem;
  z-index: 1;
  overflow: hidden;
}

.footer-iconTop a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--bg-color);
  z-index: -1;
  transition: 0.5s;
}

.footer-iconTop a:hover::before {
  width: 100%;
}

.footer-iconTop a i {
  font-size: 2.4rem;
  color: var(--bg-color);
  transition: 0.5s;
}

.footer-iconTop a:hover i {
  color: var(--text-color);
}

/* MEDIA / RESPONSIVE */
@media (max-width: 1440px) {
  /* GEN / HEADER / SECTION HOME */
  body h1 {
    font-size: 4rem;
  }

  body p {
    font-size: 1.3rem;
  }

  body b,
  body i {
    font-size: 1.5rem;
  }

  .logo,
  .navbar a {
    font-size: 1.5rem;
  }

  .header .logo p {
    margin-top: 2rem;
  }

  .header p {
    font-size: 1.5rem;
  }

  .footer h4 {
    font-size: 2rem;
  }

  .footer p,
  .footer a {
    font-size: 1.5rem;
  }

  .footer .row1 .text {
    margin-left: 3rem;
  }
}

@media (max-width: 1024px) {
  .header {
    background: var(--bg-color);
    border-color: var(--text-color);
  }

  .header p {
    font-size: 1.5rem;
    color: var(--text-color);
  }

  .header .logo p {
    margin-top: 3rem;
  }

  .header.sticky {
    background: var(--bg-color);
  }

  #menu-icon {
    display: block;
    margin-right: 1rem;
  }

  .navbar {
    display: flex;
    flex-direction: column;

    position: absolute;
    top: 100%;
    left: -100%;
    width: 100%;
    padding: 1rem 4%;
    background: var(--main-color);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition: 0.25s ease;
    transition-delay: 0.25s;
  }

  .navbar.active {
    left: 0;
    transition-delay: 0s;
  }

  .navbar a:hover,
  .navbar a.active {
    color: var(--main-color);
  }

  .navbar .active-nav {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    z-index: -1;
    transition: 0.25s ease;
    transition-delay: 0s;
  }

  .navbar.active .active-nav {
    left: 0;
    transition-delay: 0.25s;
  }

  .navbar a {
    display: block;
    margin: 1rem 3rem;
    transform: translateX(-20rem);
    transition: 0.25s ease;
    transition-delay: 0s;
  }

  .navbar.active a {
    transform: translateX(0);
    transition-delay: 0.25s;
  }
}

@media (max-width: 768px) {
  /* GEN / HEADER / SECTION HOME */
  body h1 {
    font-size: 3.5rem;
  }

  body p {
    font-size: 1.3rem;
  }

  body b,
  body i {
    font-size: 1.5rem;
  }

  .header .logo img {
    width: 5rem;
  }

  .header .logo p {
    margin-top: 2.3rem;
  }

  .footer .group1 {
    flex-direction: column;
    padding: 2rem;
  }

  .footer .group1 img {
    width: 5rem;
  }

  .footer p,
  .footer a {
    font-size: 1.3rem;
  }

  .footer .row1 .text {
    margin-left: 6rem;
  }

  .row2 {
    flex-direction: row-reverse;
  }

  .row2 .contact-us {
    padding-top: 1rem;
  }

  .footer .contact-us .text2 {
    margin-left: -5rem;
    text-align: center;
  }

  .footer .contact-us h4 {
    margin-left: -2rem;
  }

  .footer .group2 {
    height: 10rem;
    justify-content: center;
    flex-direction: column;
  }

  .footer .footer-iconTop {
    padding-bottom: 1rem;
  }

  .footer .group2 p {
    text-align: center;
    padding: 1rem;
  }

  .footer .social-media {
    align-items: center;
    justify-content: center;
    margin-left: -7rem;
    width: 25%;
  }
}

@media (max-width: 425px) {
  .footer .contact-us .text2 {
    margin-left: -3rem;
  }

  .footer .contact-us h4 {
    margin-left: 0rem;
  }

  .footer .social-media {
    margin-left: -3rem;
  }
}

@media (max-width: 375px) {
  .footer .contact-us .text2 {
    margin-left: -4rem;
  }

  .footer .social-media {
    margin-left: -2rem;
  }
}

@media (max-width: 320px) {
  /* GEN / HEADER / SECTION HOME */
  body h1 {
    font-size: 3.4rem;
  }

  body p {
    font-size: 1.2rem;
  }

  .header .logo img {
    width: 4rem;
  }

  .header .logo p {
    font-size: 1.3rem;
    margin-top: 1.8rem;
  }
}
