:root {
  --bg-color: #ffffff;
  --second-bg-color: #112e42;
  --text-color: black;
  --main-color: #149ddd;
}

/* SECTION */
section {
  /* min-height: 100vh; */
  /* min-height: auto; */
  padding: 10rem 9% 2rem;
}

/* SECTION HOME */
.carousel {
  margin-top: 6rem;
  position: relative;
  z-index: 3;
}

.img-slider {
  width: 100%;
  max-height: 80vh;
}

.home-buttons {
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  display: flex;
  justify-content: space-between;
}

/* .home {
  display: flex;
  align-items: center;
  padding: 0 9%;
} */

.home-content {
  max-width: 60rem;
  z-index: 99;
}

.home-content p {
  position: relative;
  width: 75%;
  text-align: justify;
  margin: 2rem 0 4rem;
}

/* section home - buttons */
.btn-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 34.5rem;
  height: 5rem;
}

.btn-box .btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 100%;
  background: var(--main-color);
  border: 0.2rem solid var(--main-color);
  border-radius: 0.8rem;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: var(--bg-color);
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.btn-box .btn:hover {
  color: var(--main-color);
}

.btn-box .btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--bg-color);
  z-index: -1;
  transition: 0.5s;
}

.btn-box .btn:hover::before {
  width: 100%;
}

.btn-box .btn:nth-child(2) {
  background: transparent;
  color: var(--main-color);
}

.btn-box .btn:nth-child(2):hover {
  color: var(--bg-color);
}

.btn-box .btn:nth-child(2)::before {
  background: var(--main-color);
}

/* section home - sci */
.home-sci {
  align-items: center;
  display: flex;
}

.home-sci a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 0.2rem solid var(--main-color);
  border-radius: 50%;
  color: var(--main-color);
  z-index: 1;
  overflow: hidden;
}

.home-sci a:hover {
  color: var(--bg-color);
}

.home-sci a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--main-color);
  z-index: -1;
  transition: 0.5s;
}

.home-sci a:hover::before {
  width: 100%;
}

.home-sci i {
  font-size: 2rem;
}

/* SLIDER */
.onSlider {
  position: absolute;
  z-index: 2;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.counter-content {
  top: 80%;
  left: 80%;
  margin-right: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.extra {
  top: 80%;
  left: 50%;
  margin-right: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro {
  top: 80%;
  left: 20%;
  margin-right: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.experience {
  background: rgba(235, 231, 191, 0.834);
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  padding: 1.8rem;
  flex-wrap: wrap;
}

.box-experience {
  text-align: center;
  padding: 0.5rem;
  max-width: 50%;
  box-sizing: border-box;
}

.box-experience b {
  font-size: 5.5rem;
  /* color: var(--main-color); */
  color: rgb(176, 137, 88);
}

/* SECTION EXPERIENCE - CUSTOMERS */
.experience-customers {
  position: relative;
  z-index: -1;
  height: 90%;
  /* margin-top: -10vh; */
}

.img-mapa {
  margin: 4rem 0;
  display: flex;
  justify-content: center;
}

.img-mapa img {
  width: 65%;
  height: auto;
}

.experience-customers .slider {
  display: flex;
  justify-content: center;
}

.container {
  position: relative;
  width: 70%;
}

.container .wrapper {
  height: 15vw;
  overflow: hidden;
}

.container .wrapper-holder {
  display: grid;
  grid-row: 1;
  height: 100%;
}

#companies-slider .container .wrapper-holder {
  grid-template-columns: repeat(26, 25%);
  animation: slider 45s linear infinite;
}

#partners-slider .container .wrapper-holder {
  grid-template-columns: repeat(6, 25%);
  animation: partners-slider 6s linear infinite;
}

.container .slider-img {
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  margin: 0 10px;
}

#companies-slider .container #slider-img-8,
#companies-slider .container #slider-img-10 {
  background-size: 30%;
  margin: 0 -150px;
}

#companies-slider .container #slider-img-6,
#companies-slider .container #slider-img-7,
#companies-slider .container #slider-img-9 {
  background-size: 20%;
  margin: 0 -150px;
}

.container #slider-img-1 {
  background-image: url(../img/usuarias/Cajasol.png);
}

.container #slider-img-2 {
  background-image: url(../img/usuarias/care.png);
}

.container #slider-img-3 {
  background-image: url(../img/usuarias/Cobra.png);
}

.container #slider-img-4 {
  background-image: url(../img/usuarias/Cotecna.png);
}

.container #slider-img-5 {
  background-image: url(../img/usuarias/Dental.png);
}

.container #slider-img-6 {
  background-image: url(../img/usuarias/EY.png);
}

.container #slider-img-7 {
  background-image: url(../img/usuarias/Fini.png);
}

.container #slider-img-8 {
  background-image: url(../img/usuarias/geodis.png);
}

.container #slider-img-9 {
  background-image: url(../img/usuarias/GM.png);
}

.container #slider-img-10 {
  background-image: url(../img/usuarias/GT.png);
}

.container #slider-img-11 {
  background-image: url(../img/usuarias/hellmann.png);
}

.container #slider-img-12 {
  background-image: url(../img/usuarias/Imes.png);
}

.container #slider-img-13 {
  background-image: url(../img/usuarias/Michelin.png);
}

.container #slider-img-14 {
  background-image: url(../img/usuarias/monterrey.png);
}

.container #slider-img-15 {
  background-image: url(../img/usuarias/MQ.png);
}

.container #slider-img-16 {
  background-image: url(../img/usuarias/OLO.png);
}

.container #slider-img-17 {
  background-image: url(../img/usuarias/Ortiz.png);
}

.container #slider-img-18 {
  background-image: url(../img/usuarias/popsocket.png);
}

.container #slider-img-19 {
  background-image: url(../img/usuarias/Prodiel.png);
}

.container #slider-img-20 {
  background-image: url(../img/usuarias/Richs.png);
}

.container #slider-img-21 {
  background-image: url(../img/usuarias/salvi.png);
}

.container #slider-img-22 {
  background-image: url(../img/usuarias/Santillana.png);
}

.container #slider-img-23 {
  background-image: url(../img/usuarias/TecnologicoMonte.png);
}

.container #slider-img-24 {
  background-image: url(../img/usuarias/tumi.png);
}

.container #slider-img-25 {
  background-image: url(../img/usuarias/Unimarc.png);
}

.container #slider-img-26 {
  background-image: url(../img/usuarias/UniversidadLCB.png);
}

/* slider - partners */
.container #img-1 {
  background-image: url(../img/partners/addvantit.png);
}

.container #img-2 {
  background-image: url(../img/partners/Click.png);
}

.container #img-3 {
  background-image: url(../img/partners/Dima.png);
}

.container #img-4 {
  background-image: url(../img/partners/mekano.png);
}

.container #img-5 {
  background-image: url(../img/partners/professional.png);
}

.container #img-6 {
  background-image: url(../img/partners/wau.png);
}

/* KEYFRAMES */
@keyframes slider {
  0% {
    transform: translateX(10%);
  }

  20% {
    transform: translateX(-150%);
  }

  40% {
    transform: translateX(-350%);
  }

  60% {
    transform: translateX(-560%);
  }

  80% {
    transform: translateX(-350%);
  }

  100% {
    transform: translateX(10%);
  }
}

@keyframes partners-slider {
  0% {
    transform: translateX(5%);
  }

  15% {
    transform: translateX(-10%);
  }

  30% {
    transform: translateX(-30%);
  }

  45% {
    transform: translateX(-55%);
  }

  60% {
    transform: translateX(-35%);
  }

  75% {
    transform: translateX(-20%);
  }

  90% {
    transform: translateX(-5%);
  }

  100% {
    transform: translateX(5%);
  }
}

/* MEDIA / RESPONSIVE */
@media (max-width: 1440px) {

  /* GEN / HEADER / SECTION HOME */
  .home-content {
    max-width: 50rem;
  }

  .home-content p {
    width: 80%;
  }

  .box-experience {
    font-size: 1.5rem;
  }

  .box-experience b {
    font-size: 4rem;
  }
}

@media (max-width: 1110px) {

  #companies-slider .container #slider-img-8,
  #companies-slider .container #slider-img-10 {
    margin: 0 -80px;
  }

  #companies-slider .container #slider-img-6,
  #companies-slider .container #slider-img-7,
  #companies-slider .container #slider-img-9 {
    margin: 0 -80px;
  }
}

@media (max-width: 1024px) {
  .home-content p {
    width: 90%;
  }
}

@media (max-width: 768px) {

  /* GEN / HEADER / SECTION HOME */
  .counter-content,
  .extra,
  .intro {
    top: auto;
    left: auto;
    width: 100%;
    position: relative;
    transform: none;
  }

  .experience {
    width: 100%;
  }

  .img-mapa img {
    width: 90%;
  }

  .img-slider {
    height: 400px;
  }

  .experience-customers .slider {
    margin-top: 3rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .container {
    width: 100%;
  }

  .home-content {
    max-width: 40rem;
  }

  .box-experience {
    margin: 0.5rem;
  }
}

@media (max-width: 470px) {
  .home-sci {
    padding: 1rem 0;
    width: 100%;
    justify-content: center;
  }

  .home-buttons {
    margin-top: 2rem;
    margin-left: 0rem;
    margin-right: 0rem;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 425px) {

  /* GEN / HEADER / SECTION HOME */
  #companies-slider .container .wrapper-holder {
    grid-template-columns: repeat(26, 40%);
    animation: slider 40s linear infinite;
  }

  #partners-slider .container .wrapper-holder {
    grid-template-columns: repeat(6, 40%);
    animation: partners-slider 6s linear infinite;
  }

  .home-content p {
    width: 100%;
  }

  .box-experience {
    font-size: 1.4rem;
  }

  .btn-box {
    width: 29rem;
    height: 5rem;
  }

  .btn-box .btn {
    width: 13rem;
    font-size: 1.5rem;
  }

  @keyframes slider {
    0% {
      transform: translateX(10%);
    }

    15% {
      transform: translateX(-150%);
    }

    30% {
      transform: translateX(-400%);
    }

    45% {
      transform: translateX(-600%);
    }

    60% {
      transform: translateX(-815%);
    }

    75% {
      transform: translateX(-600%);
    }

    90% {
      transform: translateX(-400%);
    }

    100% {
      transform: translateX(10%);
    }
  }

  @keyframes partners-slider {
    0% {
      transform: translateX(0%);
    }

    15% {
      transform: translateX(-40%);
    }

    30% {
      transform: translateX(-80%);
    }

    45% {
      transform: translateX(-120%);
    }

    100% {
      transform: translateX(0%);
    }
  }
}

@media (max-width: 375px) {

  /* GEN / HEADER / SECTION HOME */
  .home-sci {
    width: 95%;
    margin-left: -2.5rem;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 320px) {

  /* GEN / HEADER / SECTION HOME */
  .btn-box {
    width: 25rem;
    height: 4rem;
  }

  .btn-box .btn {
    width: 11rem;
    font-size: 1.2rem;
  }

  .home-sci a {
    width: 35px;
    height: 35px;
  }
}