@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-color: #ffffff;
  --second-bg-color: #112e42;
  --text-color: black;
  --main-color: #149ddd;
}

section {
  min-height: 100vh;
  padding: 0rem 0% 0rem;
}

/* SECTION SERVICES */
.services-content {
  min-height: 100vh;
  background: #eaf2f8;
  padding: 2rem 9% 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.services-content .head {
  text-align: center;
  margin-top: 8%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.services-content .images {
  width: 135px;
  height: 135px;
  border-radius: 50%;
  background: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.head h1,
.head p {
  margin-top: 2rem;
}

.head p {
  width: 50%;
  margin-bottom: 5rem;
}

.box-content {
  box-shadow: 0 0 8px 0 rgb(123, 123, 123);
  border-radius: 10px;
  width: 80%;
  background: var(--bg-color);
  padding: 2rem;
  margin-bottom: 5rem;
}

.box-content .row1,
.box-content .row2,
.box-content .row3 {
  display: flex;
}

.box-content .services-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25rem;
  width: 100%;
  padding: 1rem;
}

#one,
#two,
#three,
#four {
  border-bottom: 0.7px solid #d2d2d2;
}

#five,
#one,
#three {
  border-right: 0.7px solid #d2d2d2;
}

.services-box i {
  font-size: 4.5rem;
  padding-right: 2rem;
}

.services-box b {
  font-size: 1.8rem;
}

.services-box p {
  font-size: 1.7rem;
}

/* MEDIA / RESPONSIVE */
@media (max-width: 1620px) {
  .box-content {
    width: 90%;
  }
}

@media (max-width: 1440px) {
  .head h1 {
    font-size: 4.5rem;
  }

  .head p,
  .services-box p {
    font-size: 1.6rem;
  }

  .services-box b {
    font-size: 1.7rem;
    margin-bottom: 1rem;
  }
}

@media (max-width: 992px) {
  .services-content .head {
    margin-top: 10%;
  }

  .box-content {
    width: 100%;
  }

  .services-box {
    flex-direction: column;
  }

  .services-box i {
    font-size: 4rem;
    padding-right: 0rem;
    padding-bottom: 1.5rem;
  }

  .head p,
  .services-box p {
    font-size: 1.5rem;
  }

  .services-box b {
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  .services-content .head {
    margin-top: 15%;
  }

  .head p {
    width: 80%;
  }

  #four {
    border-right: 0.7px solid #d2d2d2;
  }

  #three {
    border-right: none;
  }
}

@media (max-width: 701px) {
  .services-content .head {
    margin-top: 20%;
  }

  .box-content .row1,
  .box-content .row2,
  .box-content .row3 {
    flex-direction: column;
  }

  #five {
    border-bottom: 0.7px solid #d2d2d2;
  }

  #one,
  #four,
  #five,
  #three {
    border-right: none;
  }

  .box-content {
    padding: 1rem;
  }

  .services-box {
    padding: 1rem;
    margin-bottom: 0rem;
    text-align: center;
  }

  .services-box .text {
    width: 80%;
  }
}

@media (max-width: 454px) {
  .services-content h1 {
    font-size: 4rem;
  }

  .box-content .services-box {
    height: 30rem;
  }
}

@media (max-width: 375px) {
  .box-content .services-box {
    height: 32rem;
  }
}
