@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-color: #ffffff;
  --second-bg-color: #112e42;
  --text-color: black;
  --main-color: #149ddd;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

body h1 {
  font-size: 5.6rem;
  position: relative;
  display: inline-block;
  font-weight: 700;
  line-height: 1.3;
}

body p {
  font-size: 1.8rem;
}

/* HEADER - NAVBAR*/
body,
.logo,
.navbar a {
  font-size: 1.8rem;
  color: var(--text-color);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  transition: 0.3s;
  border-bottom: 1px solid var(--second-bg-color);
}

.header.sticky {
  background: var(--bg-color);
}

/* logo de la empresa y texto */
.header a {
  margin-left: 1rem;
  margin-right: 2rem;
  text-decoration: none;
  display: flex;
}

.header p {
  margin-top: 4.5rem;
  margin-left: 1rem;
}

.logo {
  font-weight: 600;
}

/* navbar - solo */
.navbar {
  display: flex;
}

.navbar a {
  font-weight: 500;
  margin-left: 3.5rem;
  transition: 0.3s;
}

.navbar a:hover,
.navbar a.active {
  color: var(--main-color);
}

#menu-icon {
  font-size: 3.6rem;
  color: var(--text-color);
  cursor: pointer;
  display: none;
}

/* SECTION */
section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

/* SECTION HOME */
.home {
  display: flex;
  align-items: center;
  padding: 0 9%;
  background: url("../img/bg_home.webp") center center no-repeat;
  background-size: cover;
}

.home-content {
  max-width: 60rem;
  z-index: 99;
}

.home-content p {
  position: relative;
  font-weight: 500;
  margin: 2rem 0 4rem;
}

.home-separator {
  display: flex;
}

.home-separator #separator {
  height: 3px;
  background-color: var(--second-bg-color);
  margin-top: 3.5rem;
  margin-right: 1rem;
  width: 2.5rem;
}

/* section home - buttons */
.btn-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 34.5rem;
  height: 5rem;
}

.btn-box .btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 100%;
  background: var(--main-color);
  border: 0.2rem solid var(--main-color);
  border-radius: 0.8rem;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: var(--bg-color);
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.btn-box .btn:hover {
  color: var(--main-color);
}

.btn-box .btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--bg-color);
  z-index: -1;
  transition: 0.5s;
}

.btn-box .btn:hover::before {
  width: 100%;
}

.btn-box .btn:nth-child(2) {
  background: transparent;
  color: var(--main-color);
}

.btn-box .btn:nth-child(2):hover {
  color: var(--bg-color);
}

.btn-box .btn:nth-child(2)::before {
  background: var(--main-color);
}

/* section home - sci */
.home-sci {
  position: absolute;
  margin-top: 4rem;
  width: 170px;
  display: flex;
  justify-content: start;
}

.home-sci a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 0.2rem solid var(--main-color);
  border-radius: 50%;
  font-size: 20px;
  color: var(--main-color);
  z-index: 1;
  overflow: hidden;
}

.home-sci a:hover {
  color: var(--bg-color);
}

.home-sci a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--main-color);
  z-index: -1;
  transition: 0.5s;
}

.home-sci a:hover::before {
  width: 100%;
}

/* img / vector */
.vector {
  margin-top: -45rem;
  z-index: 1;
  margin-bottom: -15rem;
}

/* box of experience */
.experience {
  margin-top: -2.5rem;
  z-index: 99;
  display: flex;
  justify-content: space-around;
  padding: 1.8rem;
  border-bottom: 0.7px solid #c7c7c7;
  flex-wrap: wrap;
  margin-bottom: -6rem;
}

.box-experience {
  text-align: center;
  padding: 0.5rem;
  border-top: 1px solid var(--second-bg-color);
  border-bottom: 1px solid var(--second-bg-color);

  max-width: 50%;
  box-sizing: border-box;
}

.box-experience b {
  font-size: 5rem;
}

/* SECTION ABOUT US */
.about-us {
  margin-bottom: 6rem;
}

/* FOOTER */
.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background: var(--bg-color);
}

.footer .row1,
.row2 {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.footer h2 {
  font-size: 2.3rem;
  font-weight: 550;
}

.footer .group1 img {
  width: 8rem;
}

.footer p {
  font-size: 1.6rem;
  color: #515151;
}

.footer .group1 {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: space-around;
  padding: 3rem;
  border-top: 0.7px solid #c7c7c7;
}

.footer .text,
.text2 {
  text-align: left;
}

.footer .text2 {
  width: 150px;
}

.footer .text {
  width: 200px;
  margin-left: 2rem;
}

.footer .social-media {
  display: flex;
  align-items: flex-end;
}

.footer .group2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 6rem;
  border-top: 0.7px solid #c7c7c7;
  background: #fafafa;
}

.footer .social-media {
  display: flex;
  justify-content: start;
}

.social-media a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  background: var(--bg-color);
  border-radius: 50%;
  font-size: 18px;
  color: var(--text-color);
  z-index: 1;
  overflow: hidden;
  box-shadow: 0 0 8px 0 rgb(123, 123, 123);
}

.social-media a:hover {
  color: var(--bg-color);
}

.social-media a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--text-color);
  z-index: -1;
  transition: 0.5s;
}

.social-media a:hover::before {
  width: 100%;
}

.footer-iconTop a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  background: var(--text-color);
  border: 0.2rem solid var(--text-color);
  border-radius: 0.6rem;
  z-index: 1;
  overflow: hidden;
}

.footer-iconTop a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--bg-color);
  z-index: -1;
  transition: 0.5s;
}

.footer-iconTop a:hover::before {
  width: 100%;
}

.footer-iconTop a i {
  font-size: 2.4rem;
  color: var(--bg-color);
  transition: 0.5s;
}

.footer-iconTop a:hover i {
  color: var(--text-color);
}

/* MEDIA / RESPONSIVE */
@media (max-width: 1440px) {
  /* GEN / HEADER / SECTION HOME */
  body h1 {
    font-size: 4.5rem;
  }

  body p {
    font-size: 1.5rem;
  }

  .header .logo img {
    width: 6rem;
  }

  .header .logo p {
    margin-top: 3rem;
  }

  .home-separator #separator {
    margin-top: 3rem;
  }

  .box-experience {
    font-size: 1.5rem;
  }

  .box-experience b {
    font-size: 4rem;
  }

  .footer h2 {
    font-size: 2rem;
  }

  .footer p {
    font-size: 1.3rem;
  }
}

@media (max-width: 1024px) {
  .header {
    background: var(--bg-color);
  }

  #menu-icon {
    display: block;
    margin-right: 1rem;
  }

  .navbar {
    display: flex;
    flex-direction: column;

    position: absolute;
    top: 100%;
    left: -100%;
    width: 100%;
    padding: 1rem 4%;
    background: var(--main-color);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition: 0.25s ease;
    transition-delay: 0.25s;
  }

  .navbar.active {
    left: 0;
    transition-delay: 0s;
  }

  .navbar .active-nav {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    z-index: -1;
    transition: 0.25s ease;
    transition-delay: 0s;
  }

  .navbar.active .active-nav {
    left: 0;
    transition-delay: 0.25s;
  }

  .navbar a {
    display: block;
    font-size: 1.5rem;
    margin: 1rem 3rem;
    transform: translateX(-20rem);
    transition: 0.25s ease;
    transition-delay: 0s;
  }

  .navbar.active a {
    transform: translateX(0);
    transition-delay: 0.25s;
  }
}

@media (max-width: 768px) {
  /* GEN / HEADER / SECTION HOME */
  .header .logo img {
    width: 5rem;
  }

  .header .logo p {
    margin-top: 2.3rem;
  }

  .home-separator #separator {
    margin-top: 2.5rem;
  }

  .box-experience {
    margin: 0.5rem;
    font-size: 1.5rem;
  }

  .footer .group1 img {
    width: 5rem;
  }
}

@media (max-width: 425px) {
  /* GEN / HEADER / SECTION HOME */
  .box-experience {
    border-top: 1px solid var(--second-bg-color);
    border-bottom: 0px;
    font-size: 1.4rem;
  }

  .box-experience b {
    font-size: 3rem;
  }

  .btn-box {
    width: 29rem;
    height: 5rem;
  }

  .btn-box .btn {
    width: 13rem;
    font-size: 1.5rem;
  }

  /* footer / 550px */

  .footer .group1 {
    padding: 2rem;
  }

  .footer .group1 {
    flex-direction: column;
  }

  .footer h2 {
    font-size: 2rem;
  }

  .row2 {
    flex-direction: row-reverse;
  }

  .row2 .contact-us {
    margin-left: -10rem;
    padding-top: 1rem;
  }

  .contact-us .text2 {
    margin-left: -3rem;
    text-align: center;
  }

  .footer .group2 {
    height: 10rem;
    justify-content: center;
    flex-direction: column;
  }

  .footer .footer-iconTop {
    padding-bottom: 1rem;
  }

  .footer .group2 p {
    text-align: center;
    padding: 1rem;
  }

  .footer .social-media {
    align-items: center;
    justify-content: center;
    margin-left: -6rem;
    width: 25%;
  }
}

@media (max-width: 375px) {
  /* GEN / HEADER / SECTION HOME */
  .home-sci {
    width: 95%;
    margin-left: -2.5rem;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 320px) {
  /* GEN / HEADER / SECTION HOME */
  body h1 {
    font-size: 3.4rem;
  }

  body p {
    font-size: 1.2rem;
  }

  .header .logo img {
    width: 4rem;
  }

  .header .logo p {
    margin-top: 2rem;
  }

  .home-separator #separator {
    margin-top: 2rem;
  }

  .btn-box {
    margin-left: -1rem;
    width: 25rem;
    height: 4rem;
  }

  .btn-box .btn {
    width: 11rem;
    font-size: 1.2rem;
  }

  .home-sci {
    width: 100%;
    margin-left: -2.5rem;
    display: flex;
    justify-content: center;
  }

  .home-sci a {
    width: 35px;
    height: 35px;
  }
}
