@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-color: #ffffff;
  --second-bg-color: #112e42;
  --text-color: black;
  --main-color: #149ddd;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

body h1 {
  font-size: 5.6rem;
  position: relative;
  display: inline-block;
  font-weight: 700;
  line-height: 1.3;
}

body p {
  font-size: 1.8rem;
}

/* SECTION */
section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

/* SECTION HOME */
.home {
  display: flex;
  align-items: center;
  padding: 0 9%;
  background: url("../img/bg_home.webp") center center no-repeat;
  background-size: cover;
}

.home-content {
  max-width: 60rem;
  z-index: 99;
}

.home-content p {
  position: relative;
  font-weight: 500;
  margin: 2rem 0 4rem;
}

.home-separator {
  display: flex;
}

.home-separator #separator {
  height: 3px;
  background-color: var(--second-bg-color);
  margin-top: 3.5rem;
  margin-right: 1rem;
  width: 2.5rem;
}

/* section home - buttons */
.btn-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 34.5rem;
  height: 5rem;
}

.btn-box .btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 100%;
  background: var(--main-color);
  border: 0.2rem solid var(--main-color);
  border-radius: 0.8rem;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: var(--bg-color);
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.btn-box .btn:hover {
  color: var(--main-color);
}

.btn-box .btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--bg-color);
  z-index: -1;
  transition: 0.5s;
}

.btn-box .btn:hover::before {
  width: 100%;
}

.btn-box .btn:nth-child(2) {
  background: transparent;
  color: var(--main-color);
}

.btn-box .btn:nth-child(2):hover {
  color: var(--bg-color);
}

.btn-box .btn:nth-child(2)::before {
  background: var(--main-color);
}

/* section home - sci */
.home-sci {
  position: absolute;
  margin-top: 4rem;
  width: 170px;
  display: flex;
  justify-content: start;
}

.home-sci a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 0.2rem solid var(--main-color);
  border-radius: 50%;
  font-size: 20px;
  color: var(--main-color);
  z-index: 1;
  overflow: hidden;
}

.home-sci a:hover {
  color: var(--bg-color);
}

.home-sci a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--main-color);
  z-index: -1;
  transition: 0.5s;
}

.home-sci a:hover::before {
  width: 100%;
}

/* img / vector */
.vector {
  margin-top: -45rem;
  z-index: 1;
  margin-bottom: -15rem;
}

/* box of experience */
.experience {
  margin-top: -2.5rem;
  z-index: 99;
  display: flex;
  justify-content: space-around;
  padding: 1.8rem;
  border-bottom: 0.7px solid #c7c7c7;
  flex-wrap: wrap;
  margin-bottom: -6rem;
}

.box-experience {
  text-align: center;
  padding: 0.5rem;
  border-top: 1px solid var(--second-bg-color);
  border-bottom: 1px solid var(--second-bg-color);

  max-width: 50%;
  box-sizing: border-box;
}

.box-experience b {
  font-size: 5rem;
}

/* SECTION ABOUT US */
.customers {
  margin-bottom: 6rem;
}

/* MEDIA / RESPONSIVE */
@media (max-width: 1440px) {
  /* GEN / HEADER / SECTION HOME */
  body h1 {
    font-size: 4.5rem;
  }

  body p {
    font-size: 1.5rem;
  }

  .home-separator #separator {
    margin-top: 3rem;
  }

  .box-experience {
    font-size: 1.5rem;
  }

  .box-experience b {
    font-size: 4rem;
  }
}

@media (max-width: 768px) {
  /* GEN / HEADER / SECTION HOME */
  .home-separator #separator {
    margin-top: 2.5rem;
  }

  .box-experience {
    margin: 0.5rem;
  }
}

@media (max-width: 425px) {
  /* GEN / HEADER / SECTION HOME */
  .box-experience {
    border-top: 1px solid var(--second-bg-color);
    border-bottom: 0px;
    font-size: 1.4rem;
  }

  .box-experience b {
    font-size: 3rem;
  }

  .btn-box {
    width: 29rem;
    height: 5rem;
  }

  .btn-box .btn {
    width: 13rem;
    font-size: 1.5rem;
  }
}

@media (max-width: 375px) {
  /* GEN / HEADER / SECTION HOME */
  .home-sci {
    width: 95%;
    margin-left: -2.5rem;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 320px) {
  /* GEN / HEADER / SECTION HOME */
  body h1 {
    font-size: 3.4rem;
  }

  body p {
    font-size: 1.2rem;
  }

  .home-separator #separator {
    margin-top: 2rem;
  }

  .btn-box {
    margin-left: -1rem;
    width: 25rem;
    height: 4rem;
  }

  .btn-box .btn {
    width: 11rem;
    font-size: 1.2rem;
  }

  .home-sci {
    width: 100%;
    margin-left: -2.5rem;
    display: flex;
    justify-content: center;
  }

  .home-sci a {
    width: 35px;
    height: 35px;
  }
}
