---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'P&L Consultoría Estratégica',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      { variant: 'primary', text: 'Contáctanos', href: '/contact' },
      { text: 'Sobre Nosotros', href: '/about' },
    ]}
    image={{ src: '~/assets/images/default.png', alt: 'Reference Image P&L' }}
  >
    <Fragment slot="title">P&L Consultoría Estratégica</Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">P&L</span> es una consultora de procesos e implementación de ERP, ayudando a compañías
        y partners de Microsoft de Latinoamérica, Centroamérica y España.
      </span>
    </Fragment>
  </Hero>

  <!-- Features Widget *************** -->

  <Features
    id="features"
    title="Construyendo Éxitos Juntos"
    subtitle="Mezclamos experiencia con innovación, aplicando tanto metodologías tradicionales como marcos ágiles. Especialistas en implementar Microsoft Dynamics 365 Business Central SaaS y versiones anteriores para potenciar tu negocio."
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="Nuestra Experiencia"
    title="Trayecto en la consultoría"
    items={[
      { title: 'Addvantit - Business Evolution' },
      { title: 'Dima' },
      { title: 'Click 2 Actions' },
      { title: 'Professional Answer' },
      { title: 'Mekano' },
      { title: 'WAU Technologies' },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Colaboraciones Empresariales</h3>
      Algunas de las organizaciones con las que hemos tenido el privilegio de apoyar incluyen:
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      { title: 'PopSockets' },
      { title: 'Monterrey - Soluciones en Acero' },
      { title: 'GM S.A' },
      { title: 'Sinera' },
      { title: 'Cotecna' },
      { title: 'GEODIS' },
      { title: 'Fundación Cajasol' },
      { title: 'Dental Company' },
      { title: 'MQ - Montalva Quindos' },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1600132806370-bf17e65e942f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2194&q=80',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content">
      Algunas de las organizaciones extranjeras con las que hemos tenido el privilegio de trabajar incluyen:
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent
    items={[
      { title: 'Michelin' },
      { title: 'Fini' },
      { title: 'OLO Internet' },
      { title: 'Hellmann - Worldwide logistics' },
      { title: 'Care' },
      { title: 'Santillana' },
      { title: 'Univesidad le Cordon Bleu' },
      { title: 'Tecnológico de Monterrey' },
      { title: 'Entre otros...' },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1611462985358-60d3498e0364?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Astronauts Image',
    }}
  >
    <Fragment slot="content">
      Algunas de las organizaciones locales con las que hemos tenido el privilegio de trabajar incluyen:
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- FAQs Widget ******************* -->

  <!-- <FAQs
    title="Frequently Asked Questions"
    subtitle="Dive into the following questions to gain insights into the powerful features that AstroWind offers and how it can elevate your web development journey."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Why AstroWind?',
        description:
          "Michael Knight a young loner on a crusade to champion the cause of the innocent. The helpless. The powerless in a world of criminals who operate above the law. Here he comes Here comes Speed Racer. He's a demon on wheels.",
      },
      {
        title: 'What do I need to start?',
        description:
          'Space, the final frontier. These are the voyages of the Starship Enterprise. Its five-year mission: to explore strange new worlds. Many say exploration is part of our destiny, but it’s actually our duty to future generations.',
      },
      {
        title: 'How to install the Astro + Tailwind CSS template?',
        description:
          "Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows.",
      },
      {
        title: "What's something that you don't understand?",
        description:
          "A flower in my garden, a mystery in my panties. Heart attack never stopped old Big Bear. I didn't even know we were calling him Big Bear.",
      },
      {
        title: 'What is something that you would like to try again?',
        description:
          "A business big enough that it could be listed on the NASDAQ goes belly up. Disappears! It ceases to exist without me. No, you clearly don't know who you're talking to, so let me clue you in.",
      },
      {
        title: 'If you could only ask one question to each person you meet, what would that question be?',
        description:
          "This is not about revenge. This is about justice. A lot of things can change in twelve years, Admiral. Well, that's certainly good to know. About four years. I got tired of hearing how young I looked.",
      },
    ]}
  /> -->

  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'Años de Experiencia', amount: '+18' },
      { title: 'Experiencia en Países', amount: '06' },
      { title: 'Clientes en D365BC', amount: '+28' },
    ]}
  />
</Layout>
