---
import "../assets/styles/tailwind.css";
import CustomStyles from "../components/CustomStyles.astro";
import Favicons from "../components/Favicons.astro";
import BasicScripts from "../components/common/BasicScripts.astro";

/* interface Props {
  title: string;
} */

// const { title } = Astro.props;
---

<!doctype html>
<html lang="es" class="2xl:text-[20px]">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="P&L Consultoría Estratégica, donde la excelencia se encuentra con la innovación en el mundo de la consultoría empresarial. Nuestro equipo de expertos está dedicado a proporcionar soluciones estratégicas a medida utilizando el avanzado sistema ERP de Microsoft Business Central."
    />
    <meta name="generator" content={Astro.generator} />
    <title>P&L Consultoría Estratégica</title>
    <Favicons />
    <CustomStyles />
  </head>

  <body>
    <slot />

    <BasicScripts />
    <style is:global>
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
