---
import Layout from "./Layout.astro";
import Header from "../components/widgets/Header.astro";
import Footer from "../components/widgets/Footer.astro";

import { headerData, footerData } from "../navigations";
---

<Layout>
  <slot name="header">
    <Header {...headerData} isSticky showRssFeed showToggleTheme />
  </slot>
  <main>
    <slot />
  </main>
  <slot name="footer">
    <Footer {...footerData} />
  </slot>
</Layout>
